#btn{
  margin-top: 20px;
}

#timer{
  margin-top: 15px;
  margin-bottom: 15px;
}

.options{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*bouncing item*/
.mycanvas{
  background-color: #96a2b5;
  height: 250px;
  width: 300px;
  /* position: absolute; */
  padding-top: 20px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.ball{
   background-color: #ff1a66;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position: relative;
   text-align: center;
   top: 10px;
   left: 40%;
   bottom: 50%;
   animation: bounce 0.9s infinite;
}

@keyframes bounce{
  10%{
    height: 50px;
    width: 50px;
  }
  30%{
    height: 50px;
    width: 40px;
  }
  50%{
    height:  30px;
    width: 57px;
    transform: translateY(150px);
  }
  75%{
    height: 50px;
    width: 57px;
  }
  100%{
    transform: translateY(0px);
  }
}
